In [1]:
import pandas as pd
import sys
import constants
from sklearn.model_selection import train_test_split
import numpy as np
import os

Read file

In [2]:
from preprocessing import transform_and_import_data
listings = transform_and_import_data(constants.DATA_PATH)

In [3]:
listings.set_index("id", inplace=True)
listings.drop(['name', 'description', "neighborhood_overview", "longitude", "latitude"], axis=1, inplace=True)

In [4]:
listings.head()

,host_response_time,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,property_type,room_type,accommodates,bathrooms_text,...,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable
id,,,,,,,,,,,,,,,,,,,,,
10595,within an hour,t,6.0,6.0,t,ΑΜΠΕΛΟΚΗΠΟΙ,Entire rental unit,Entire home/apt,8,2 baths,...,33,4.78,4.82,4.76,4.85,4.85,4.52,4.67,t,t
10990,within an hour,t,6.0,6.0,t,ΑΜΠΕΛΟΚΗΠΟΙ,Entire rental unit,Entire home/apt,4,1 bath,...,62,4.80,4.84,4.84,4.89,4.89,4.77,4.74,t,t
10993,within an hour,t,6.0,6.0,t,ΑΜΠΕΛΟΚΗΠΟΙ,Entire rental unit,Entire home/apt,2,1 bath,...,87,4.83,4.91,4.93,4.98,4.98,4.84,4.78,t,t
2219385,within an hour,f,2.0,2.0,t,ΣΤΑΔΙΟ,Entire condo,Entire home/apt,4,2 baths,...,29,4.62,4.57,4.41,4.75,4.79,4.61,4.64,t,t
10995,within an hour,t,6.0,6.0,t,ΑΜΠΕΛΟΚΗΠΟΙ,Entire rental unit,Entire home/apt,4,1 bath,...,29,4.83,4.96,4.93,4.93,4.89,4.81,4.81,t,t

Transform categorical, etc.

In [4]:
Y = listings["price"]
X = listings.drop(["price"], axis=1)

In [5]:
from pandas.api.types import is_numeric_dtype

numeric_cols = []
categorical_cols = []

for column in X.columns:
    if is_numeric_dtype(X[column]):
        numeric_cols.append(column)
    else:
        categorical_cols.append(column)

Impute and Encode categorical columns

In [6]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

In [7]:
X[categorical_cols] = SimpleImputer(strategy="most_frequent").fit_transform(X[categorical_cols])

In [8]:
for column in X[categorical_cols].columns:
    X[column] = LabelEncoder().fit_transform(X[column])

!pip install -U scikit-learn

In [9]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

num_pipeline = Pipeline([
        ('imputer', SimpleImputer(strategy="median")),
        ('std_scaler', StandardScaler()),
    ])

In [10]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

cat_pipeline = Pipeline([
        ('cat_scaler', MinMaxScaler())
    ])

In [11]:
from sklearn.compose import ColumnTransformer

pipeline = ColumnTransformer([
        ("num", num_pipeline, numeric_cols),
        ("cat", cat_pipeline, categorical_cols)
    ])

In [12]:
#Split X, Y and train/test
# split the data into train and test set
# Split the data into training and test set
X_train_o, X_test, y_train_o, y_test = train_test_split(X, Y, test_size=0.2, random_state=24)

# Split the data into training and Validation set
X_train, X_val, y_train, y_val = train_test_split(X_train_o, y_train_o, test_size=0.15, random_state=24)

print(len(X_train))
print(len(X_test))

7697
2265

In [13]:
X_train = pipeline.fit_transform(X_train)

X_val = pipeline.transform(X_val)
X_test = pipeline.transform(X_test)

In [21]:
y_train = y_train.values
y_val = y_val.values
y_test = y_test.values

In [ ]:
!pip install keras

In [14]:
from keras.models import Model, Sequential
from keras.layers import Dense, Dropout

In [15]:
# Determine the input size of the algorithm
input_shape = 28

model = Sequential()
model.add(Dense(64, activation='relu', input_dim=input_shape))
model.add(Dropout(0,2))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.2))

# softmax classification
model.add(Dense(1, activation='linear'))
model.summary()

# Compile the model
model.compile(loss='mean_squared_error', optimizer='Adam', metrics=['mse'])

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                1856

 dropout (Dropout)           (None, 64)                0

 dense_1 (Dense)             (None, 128)               8320

 dropout_1 (Dropout)         (None, 128)               0

 dense_2 (Dense)             (None, 64)                8256

 dropout_2 (Dropout)         (None, 64)                0

 dense_3 (Dense)             (None, 1)                 65

=================================================================
Total params: 18,497
Trainable params: 18,497
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Callbacks
# es = EarlyStopping(monitor='val_accuracy', patience=8, min_delta=1)
# filepath="Skin_lesion_characterization/weights.best.hdf5"
# checkpoint = ModelCheckpoint(filepath, monitor='val_accuracy', verbose=1, save_best_only=True, mode='max')
# callbacks_list = [checkpoint] #PlotLossesKeras()

In [36]:
pd.DataFrame(X_train).head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,0.274872,0.274872,1.660082,0.748932,2.006898,-0.114121,0.896459,1.303673,1.028808,1.075099,...,-2.769743,1.000000,0.0,1.0,0.818182,0.28,0.0,0.068966,0.0,1.0
1,-0.285985,-0.285985,-0.391893,-0.594782,-0.772606,-0.069094,0.896459,-0.756194,-0.578015,-0.023483,...,0.188956,1.000000,1.0,1.0,0.477273,0.28,0.0,0.172414,0.0,1.0
2,-0.321038,-0.321038,0.634094,0.748932,-0.077730,-0.114121,-1.213139,-0.864608,-1.096345,-1.019074,...,0.272693,1.000000,1.0,1.0,0.522727,0.28,0.0,0.068966,0.0,1.0
3,-0.321038,-0.321038,0.121100,0.748932,-0.077730,0.020960,-1.274286,-0.973022,0.251313,0.422816,...,0.719289,0.333333,0.0,1.0,0.568182,0.12,0.0,0.344828,0.0,0.0
4,-0.285985,-0.285985,4.225051,3.436361,3.396649,-0.069094,-1.274286,-0.864608,-1.044512,-1.053404,...,0.495991,1.000000,1.0,1.0,0.590909,0.28,0.0,0.275862,0.0,1.0

In [19]:
batch_size = 64
epochs = 10

history_custom = model.fit(
    pd.DataFrame(X_train), pd.DataFrame(y_train),
    epochs=epochs,
    batch_size = batch_size,
    validation_data=(pd.DataFrame(X_val), pd.DataFrame(y_val)),
    verbose=1
    # callbacks=[PlotLossesKeras()]
    )

# save model

score = model.evaluate(pd.DataFrame(X_test), y_test)
print(score)
print('Test accuracy:', score[1])

ValueError: object __array__ method not producing an array

Evalution

model.evaluate

Adjust Model

In [ ]:
plt.subplot(1,2,1)
plt.plot(image_mobilenet.history['accuracy'], marker='o')
plt.plot(image_mobilenet.history['val_accuracy'], marker='o')
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'val'], loc='lower right')

plt.subplot(1,2,2)
plt.plot(image_mobilenet.history['loss'], marker='o')
plt.plot(image_mobilenet.history['val_loss'], marker='o')
plt.title('model loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train', 'val'], loc='lower right')
plt.show()